body {
    font-size: 11 px;
    font-family: "Trebuchet MS", Arial, Verdana;
     }
h1 {  
    color: #0000FF;
    font-size : 17px;
    text-align: center;
}

h2 {  
    color:black;
    font-size : 14px;
    text-align: center;
}

h3 {  
    color:black;
    font-size : 11px;
    font-style:italic;
}

h5 {  
    color:black;
    font-size : 11px;
    text-align: center;
}

p.menu {
    color:#0000FF;
    font-size : 13px;
    text-align: center;
    font-weight:bold;
}

A:LINK,A:VISITED
{
   color:red;
   text-decoration:none;
} 
A:HOVER 
{
    font-weight: bold;
    color:#0000FF;
    text-decoration:none;
}
A:ACTIVE 
{
    color:#0000FF;
    text-decoration:none;
    font-weight: bold;
}
